body {
  margin: 0;
  padding: 0;
  font-size: 1.02rem;
  color: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);
}

.container {
  /* max-width: 390px; */
  max-width: 100%;
}

.inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* grid-template-columns: 1fr 1fr; */
  /* grid-template-rows: 200px 200px 200px; */
}

.inner-main {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px;
  padding-top: 145px;
}

.img {
  width: 150px;
}

.item {
  text-align: center;
  padding: 10px 20px;
  display: flex;
  align-self: center;
  flex-direction: column;
}

button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background: var(--tg-theme-button-color, #000);
  border-radius: 10px;
  color: var(--tg-theme-button-text-color, #fff);
  text-transform: uppercase;
  font-weight: 700;
  width: 210px;
  transition: background 0.2s linear;
}

button:hover {
  background: red;
}

.btn:hover {
  background: lightgreen;
}

.usercard {
  text-align: center;
}

.self-start {
  align-self: start;
}

.no-width {
  width: auto;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 8px;
  color: rgb(248, 168, 24);
  padding: 10px 20px;
}

h1 {
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}
